/* Diagnostic */
* {
  outline: 1px dotted darkgray;
}

body {
  font-family: 'Tanker', sans-serif;
  transition: background .5s;
}

a {
/*   display: none; */
  background:red;
}

.dark {
  background: darkgrey;
  color: whitesmoke;
  
}

/* CSS Grid */
main {
  font-size: 3rem;
  
  display: grid;
  gap: .5em;
  
/*   grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
}

time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

data {
  text-align: center;
}