/* Diagnostic */

* {
  outline: 1px dotted darkgray;
}

body {
  font-family: 'Tanker', sans-serif;
  transition: background .5s;
}

a {
/*   display: none; */
  background:red;
}

.dark {
  background: darkgrey;
  color: whitesmoke;
  
}

/*  */
main {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  height: 100vh;
}